# Module 2 Summative Lab

## Introduction

For today's section, we're going to work on a single big lab to apply everything we've learned in Module 2!

## About This Lab

A quick note before getting started--this lab isn't like other labs you seen so far. This lab is meant to take ~8 hours to complete, so it's much longer and more challenging that the average labs you've seen so far. If you feel like this lab is challenging or that you might be struggling a bit, don't fret--that's by design! With everything we've learned about Web Scraping, APIs, and Databases, the best way to test our knowledge of it is to build something substantial! 

## The Project

In this lab, we're going to make use of everything we've learned about APIs, databases, and Object-Oriented Programming to **_Extract, Transform, and Load_** (or **_ETL_**, for short) some data from a SQL database into a MongoDB Database. 

You'll find a database containing information about soccer teams and the matches they've played in the file `database.sqlite`. For this project, our goal is to get the data we think is important from this SQL database, do some calculations and data transformation, and then store everything in a MongoDB database. 

Let's get into the specifics of this project.

### The Goal

Start by examining the data dictionary for the SQL database we'll be working with, which comes from this [kaggle page](https://www.kaggle.com/laudanum/footballdelphi).  Familiarize yourself with the tables it contains, and what each column means. We'll be using this database to get data on each soccer team, calculate some summary statistics, and then store each in a MongoDB database. 

Upon completion of this lab, each unique team in this dataset should have a record in the MongoDB instance containing the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season. 

#### Getting the Weather Data

Note that for this last calculation, you'll need to figure out if it was raining or not during the game. The database itself does not contain this information, but it does contain the date on which the game was played. For this, you'll need to use the [DarkSky API](https://darksky.net/dev) to get the historical weather data for that day. Note that each game is played in a different location, and this information is not contained in our SQL database. However, the teams in this database are largely german, so go ahead and just use the weather in Berlin, Germany as a proxy for this information. If it was raining in Berlin on the day the game was played, count that as rain game--**_you do not need to try and figure out the actual weather at each game's location, because we don't have that information!_**

#### NOTE: The DarkSky API is limited to 1000 free API calls a day, so be sure to test your model on very small samples. Otherwise, you'll hit the rate limit!

## Project Architecture

Unlike previous labs, this lab is more open-ended, and will require you to make design decisions and plan out your strategy for building a system with this many working parts. However, **_using Object-Oriented Programming is a requirement for this project--you must create at least 2 separate, well structured classes in your solution!_** Although it may seem easier to "just start coding", this is a classic beginner's mistake. Instead, think about separating out the different functionalities you'll need to reach your goal, and then build classes to handle each. For instance, at minimum, you'll need to:

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API
* Load the data into MongoDB

We **_strongly recommend_** you consider creating separate classes for handling at least some of these of these tasks.  Be sure to plan the inputs, outputs, and methods for each class before you begin coding! 

**_NOTE:_** We have provided some empty classes below. You are welcome to delete them and use a different architecture for this project if you so choose.  You do not have to use each of them, they are just there to give you an idea of what you could sorts of classes you may want to consider using.

### Rapid Prototyping and Refactoring

It's totally okay to try to get a task working without using OOP. For instance, when experimenting with the DarkSky API for getting historical weather data, it makes sense to just write the code in the cells and rapidly iterate until you get it all working. However, once you get it working, you're not done--you should then **_Refactor_** your code into functions or classes to make your code more modular, reusable, understandable, and maintainable! 

In short--do what you need to do to get each separate piece of functionality working, and then refactor it into a class after you've figured it out!

### Some Final Advice

You haven't built anything this big or complex thus far, so you may not yet fully realize how much trial and error goes into it. If your code keeps breaking, resist the urge to get frustrated, and just keep working. Software development is an iterative process!  No one writes perfect code that works the first time for something this involved. You're going to run into _a lot_ of small errors in this project, right up until the point where it just works, and then you're done! However, you can reduce these errors by planning out your code, and thinking about how all of the pieces fit together before you begin coding. Once you have some basic understanding of how it all will work, then you'll know what you need to build, and then all that is left is to build it!

In short:

* Plan ahead--you'll thank yourself later!
* Errors and broken code aren't bad, they're normal. 
* Keep working, and stay confident--you can do this!

Good luck--we look forward to seeing your completed project!

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import pymongo

%matplotlib inline

In [3]:
# You don't have to use these classes, but we recommend them as a good place to start!
class WeatherGetter():
    pass

In [4]:
class MongoHandler():
    pass

In [2]:
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [3]:
pd.read_sql_query("""SELECT * FROM Teams WHERE Season = 2011""", conn)

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2011,Bayern Munich,24,25,11,335600000,13980000,75000
1,2011,Dortmund,28,24,12,158200000,5650000,81359
2,2011,Leverkusen,29,23,9,151100000,5210000,30210
3,2011,Schalke 04,37,24,20,136730000,3700000,62271
4,2011,Werder Bremen,38,23,17,125350000,3300000,42100
5,2011,Wolfsburg,44,25,28,122000000,2770000,30000
6,2011,Hamburg,36,23,23,103200000,2870000,57376
7,2011,Stuttgart,32,24,18,101880000,3180000,60449
8,2011,Hoffenheim,34,23,20,93600000,2750000,30164
9,2011,FC Koln,31,24,17,69290000,2240000,49968
10,2011,Hannover,31,25,16,68850000,2220000,49200
11,2011,M'gladbach,28,23,15,59080000,2110000,54014
12,2011,Freiburg,34,24,17,57400000,1690000,24000
13,2011,Mainz,30,25,18,55100000,1840000,34000
14,2011,Hertha,30,24,16,50350000,1680000,74475
15,2011,Kaiserslautern,36,23,20,50050000,1390000,49780
16,2011,Nurnberg,30,23,12,43180000,1440000,50000
17,2011,Augsburg,32,25,15,34980000,1090000,30660
18,2011,Ein Frankfurt,36,24,18,51400000,1430000,47728
19,2011,St Pauli,30,25,6,25600000,853000,47728
20,2011,Cottbus,32,24,12,22550000,705000,47728
21,2011,Bochum,32,24,9,21330000,666000,47728
22,2011,Fortuna Dusseldorf,29,24,10,20080000,692000,47728
23,2011,Greuther Furth,28,24,11,19580000,699000,47728
24,2011,Munich 1860,31,24,8,19500000,629000,47728
25,2011,Aachen,34,24,11,19400000,571000,47728
26,2011,Ingolstadt,32,26,10,18250000,570000,47728
27,2011,Duisburg,30,24,19,17930000,598000,47728
28,2011,Karlsruhe,38,25,16,16700000,439000,47728
29,2011,Dresden,31,25,11,16550000,534000,47728
30,2011,Frankfurt FSV,33,24,17,14850000,450000,47728
31,2011,Erzgebirge Aue,27,25,3,14000000,519000,47728
32,2011,Hansa Rostock,29,24,6,11950000,412000,47728
33,2011,Union Berlin,28,24,8,10800000,386000,47728
34,2011,Paderborn,26,24,7,10680000,411000,47728
35,2011,Braunschweig,29,24,6,8180000,282000,47728

In [4]:
pd.read_sql_query("""SELECT * FROM Matches LIMIT 10""", conn)

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H

In [5]:
pd.read_sql_query("""SELECT * FROM Unique_Teams LIMIT 10""", conn)

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5
5     M'gladbach               6
6      Wolfsburg               7
7        FC Koln               8
8     Hoffenheim               9
9         Hertha              10

In [6]:
pd.read_sql_query("""SELECT * FROM Teams_In_Matches WHERE Match_ID = 44874""", conn)

   Match_ID  Unique_Team_ID
0     44874             119
1     44874             120

In [7]:
FV = pd.read_sql_query("""SELECT * FROM FlatView""", conn)
FV.columns
FV_clean = FV[['Match_ID', 'Div', 'Season', 'Date', 'HomeTeam', 'AwayTeam', 'FTR']]
FV_clean

      Match_ID Div  Season        Date            HomeTeam        AwayTeam FTR
0            1  D2    2009  2010-04-04          Oberhausen  Kaiserslautern   H
1            2  D2    2009  2009-11-01         Munich 1860  Kaiserslautern   A
2            3  D2    2009  2009-10-04       Frankfurt FSV  Kaiserslautern   D
3            4  D2    2009  2010-02-21       Frankfurt FSV       Karlsruhe   H
4            5  D2    2009  2009-12-06               Ahlen       Karlsruhe   A
5            6  D2    2009  2010-04-03        Union Berlin       Karlsruhe   D
6            7  D2    2009  2009-08-14           Paderborn       Karlsruhe   H
7            8  D2    2009  2010-03-08           Bielefeld       Karlsruhe   A
8            9  D2    2009  2009-09-26      Kaiserslautern       Karlsruhe   H
9           10  D2    2009  2009-11-21       Hansa Rostock       Karlsruhe   H
10          11  D2    2009  2009-12-19      Greuther Furth       Karlsruhe   A
11          12  D2    2009  2010-04-16             Koblenz       Karlsruhe   D
12          13  D2    2009  2010-03-21          Oberhausen       Karlsruhe   H
13          14  D2    2009  2009-09-14             Cottbus       Karlsruhe   A
14          15  D2    2009  2010-05-02            Duisburg       Karlsruhe   A
15          16  D2    2009  2009-10-30  Fortuna Dusseldorf       Karlsruhe   H
16          17  D2    2009  2010-01-15              Aachen       Karlsruhe   H
17          18  D2    2009  2009-10-18            Augsburg       Karlsruhe   D
18          19  D2    2009  2010-02-05            St Pauli       Karlsruhe   H
19          20  D2    2009  2009-08-24         Munich 1860       Karlsruhe   A
20          21  D1    2009  2010-02-06              Bochum      Leverkusen   D
21          22  D1    2009  2009-11-22       Bayern Munich      Leverkusen   D
22          23  D1    2009  2010-05-08          M'gladbach      Leverkusen   D
23          24  D1    2009  2009-08-08               Mainz      Leverkusen   D
24          25  D1    2009  2009-10-17             Hamburg      Leverkusen   D
25          26  D1    2009  2010-04-17           Stuttgart      Leverkusen   H
26          27  D1    2009  2010-03-20            Dortmund      Leverkusen   H
27          28  D1    2009  2009-10-31          Schalke 04      Leverkusen   D
28          29  D1    2009  2009-08-22            Freiburg      Leverkusen   A
29          30  D1    2009  2010-02-21       Werder Bremen      Leverkusen   D
...        ...  ..     ...         ...                 ...             ...  ..
7893      7894  D1    2009  2010-04-11              Bochum         Hamburg   A
7894      7895  D1    2009  2010-04-25          Hoffenheim         Hamburg   H
7895      7896  D1    2009  2009-08-09            Freiburg         Hamburg   D
7896      7897  D1    2009  2009-10-04              Hertha         Hamburg   A
7897      7898  D1    2009  2009-11-08            Hannover         Hamburg   D
7898      7899  D1    2009  2009-12-12            Nurnberg         Hamburg   A
7899      7900  D1    2009  2009-08-23           Wolfsburg         Hamburg   A
7900      7901  D1    2009  2009-09-20       Ein Frankfurt         Hamburg   D
7901      7902  D1    2009  2010-01-23            Dortmund         Hamburg   H
7902      7903  D1    2009  2009-11-28               Mainz         Hamburg   D
7903      7904  D1    2009  2009-10-25          Schalke 04         Hamburg   D
7904      7905  D1    2009  2010-02-06             FC Koln         Hamburg   D
7905      7906  D1    2009  2010-05-08       Werder Bremen         Hamburg   D
7906      7907  D1    2009  2010-02-13           Stuttgart         Hamburg   A
7907      7908  D1    2009  2010-02-28       Bayern Munich         Hamburg   H
7908      7909  D1    2009  2010-03-14          Leverkusen         Hamburg   H
7909      7910  D2    2009  2009-08-30           Paderborn  Kaiserslautern   D
7910      7911  D2    2009  2009-11-23        Union Berlin  Kaiserslautern   A
7911      7912  D2    2009  2010-05-02             Koblenz  Kaiserslautern   D
7912      7913  D2    2009  2010-02-01              Aachen  Kaiserslautern   A
7913      7914  D2    2009  2009-10-16             Cottbus  Kaiserslautern   A
7914      7915  D2    2009  2009-12-05       Hansa Rostock  Kaiserslautern   A
7915      7916  D2    2009  2010-02-15            Duisburg  Kaiserslautern   D
7916      7917  D2    2009  2010-01-16      Greuther Furth  Kaiserslautern   H
7917      7918  D2    2009  2009-12-21            Augsburg  Kaiserslautern   H
7918      7919  D2    2009  2010-02-28           Karlsruhe  Kaiserslautern   A
7919      7920  D2    2009  2010-04-19           Bielefeld  Kaiserslautern   A
7920      7921  D2    2009  2010-03-22  Fortuna Dusseldorf  Kaiserslautern   D
7921      7922  D2    2009  2009-09-20            St Pauli  Kaiserslautern   A
7922      7923  D2    2009  2009-08-16               Ahlen  Kaiserslautern   A

[7923 rows x 7 columns]

In [43]:
# FVA = pd.read_sql_query("""SELECT * FROM FlatView_Advanced WHERE Season = '2011' ORDER BY Match_ID""", conn)
# FVA.columns
# FVA_clean = FVA[['Match_ID', 'Unique_Team_ID', 'Unique_Team', 'Div', 'Season', 'Date',
#        'HomeTeam', 'AwayTeam', 'FTR']]
# FVA_clean

In [8]:
FVAChrono = pd.read_sql_query("""SELECT * FROM FlatView_Chrono_TeamOrder_Reduced WHERE Season = '2011' ORDER BY Match_ID""", conn)
FVAChrono

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich
1,1092,22,Nurnberg,22,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Nurnberg
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich
3,1093,17,Stuttgart,17,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Stuttgart
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich
5,1094,7,Wolfsburg,7,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Wolfsburg
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich
7,1095,11,Mainz,11,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Mainz
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich
9,1096,16,Freiburg,16,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Freiburg
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich
11,1097,6,M'gladbach,6,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,M'gladbach
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich
13,1098,12,Hamburg,12,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Hamburg
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich
15,1099,13,Werder Bremen,13,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Werder Bremen
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich
17,1100,5,Schalke 04,5,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Schalke 04
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich
19,1101,18,Hannover,18,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Hannover
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich
21,1102,9,Hoffenheim,9,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Hoffenheim
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich
23,1103,3,Leverkusen,3,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Leverkusen
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich
25,1104,26,Kaiserslautern,26,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Kaiserslautern
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich
27,1105,10,Hertha,10,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Hertha
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich
29,1106,15,Augsburg,15,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Augsburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1954,44860,85,Man City,85,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A,Man City
1955,44860,86,Newcastle,86,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A,Newcastle
1956,44861,100,QPR,100,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H,QPR
1957,44861,123,Stoke,123,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H,Stoke
1958,44862,93,Everton,93,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D,Everton
1959,44862,119,Wolves,119,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D,Wolves
1960,44863,97,Blackburn,97,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A,Blackburn
1961,44863,120,Wigan,120,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A,Wigan
1962,44864,83,Chelsea,83,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H,Chelsea
1963,44864,84,Liverpool,84,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H,Liverpool
1964,44865,83,Chelsea,83,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H,Chelsea
1965,44865,97,Blackburn,97,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H,Blackburn
1966,44866,86,Newcastle,86,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H,Newcastle
1967,44866,93,Everton,93,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H,Everton
1968,44867,85,Man City,85,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H,Man City
1969,44867,100,QPR,100,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H,QPR
1970,44868,82,Aston Villa,82,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H,Aston Villa
1971,44868,91,Norwich,91,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H,Norwich
1972,44869,106,Bolton,106,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D,Bolton
1973,44869,123,Stoke,123,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D,Stoke
1974,44870,99,Man United,99,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Man United
1975,44870,109,Sunderland,109,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Sunderland
1976,44871,84,Liverpool,84,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Liverpool
1977,44871,126,Swansea,126,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Swansea
1978,44872,92,Tottenham,92,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Tottenham
1979,44872,114,Fulham,114,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Fulham
1980,44873,81,Arsenal,81,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,Arsenal
1981,44873,117,West Brom,117,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,West Brom
1982,44874,119,Wolves,119,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wolves
1983,44874,120,Wigan,120,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wigan

In [76]:
# FVAChrono.drop(['TeamName'], axis=1, inplace=True)

In [9]:
FVAChronoUM = FVAChrono[::2]
FVAChronoUM.head(20)

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich
30,1107,1,Bayern Munich,1,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich
32,1108,1,Bayern Munich,1,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Bayern Munich
34,1109,2,Dortmund,2,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,Dortmund
36,1110,2,Dortmund,2,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund
38,1111,2,Dortmund,2,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund

In [10]:
TotalGoals = FVAChronoUM.groupby("TeamName")['FTHG', 'FTAG'].sum(axis=1)
TotalGoals['Total Goals'] = TotalGoals['FTHG'] + TotalGoals['FTAG']
TotalGoals.head(20)

                    FTHG  FTAG  Total Goals
TeamName
Aachen                12    14           26
Arsenal               71    52          123
Aston Villa           44    40           84
Augsburg              12    11           23
Bayern Munich         65    34           99
Blackburn             36    29           65
Bochum                30    19           49
Bolton                24    23           47
Braunschweig          35    25           60
Chelsea               57    36           93
Cottbus               16    18           34
Dortmund              56    47          103
Dresden                7    11           18
Duisburg              21    15           36
Ein Frankfurt         59    50          109
Erzgebirge Aue         9     4           13
Everton               27    25           52
FC Koln               45    21           66
Fortuna Dusseldorf    38    34           72
Freiburg              12     8           20

In [16]:
FVAChronoUM

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich
30,1107,1,Bayern Munich,1,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich
32,1108,1,Bayern Munich,1,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Bayern Munich
34,1109,2,Dortmund,2,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,Dortmund
36,1110,2,Dortmund,2,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund
38,1111,2,Dortmund,2,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund
40,1112,2,Dortmund,2,1112,D1,2011,2012-02-03,Nurnberg,Dortmund,0,2,A,Dortmund
42,1113,2,Dortmund,2,1113,D1,2011,2011-08-13,Hoffenheim,Dortmund,1,0,H,Dortmund
44,1114,2,Dortmund,2,1114,D1,2011,2011-10-29,Stuttgart,Dortmund,1,1,D,Dortmund
46,1115,2,Dortmund,2,1115,D1,2011,2012-01-22,Hamburg,Dortmund,1,5,A,Dortmund
48,1116,2,Dortmund,2,1116,D1,2011,2011-12-03,M'gladbach,Dortmund,1,1,D,Dortmund
50,1117,2,Dortmund,2,1117,D1,2011,2012-04-14,Schalke 04,Dortmund,1,2,A,Dortmund
52,1118,2,Dortmund,2,1118,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H,Dortmund
54,1119,2,Dortmund,2,1119,D1,2011,2012-03-25,FC Koln,Dortmund,1,6,A,Dortmund
56,1120,2,Dortmund,2,1120,D1,2011,2012-03-10,Augsburg,Dortmund,0,0,D,Dortmund
58,1121,2,Dortmund,2,1121,D1,2011,2012-04-07,Wolfsburg,Dortmund,1,3,A,Dortmund
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,44845,119,Wolves,119,44845,E0,2011,2012-04-28,Swansea,Wolves,4,4,D,Wolves
1926,44846,82,Aston Villa,82,44846,E0,2011,2012-04-28,West Brom,Aston Villa,0,0,D,Aston Villa
1928,44847,86,Newcastle,86,44847,E0,2011,2012-04-28,Wigan,Newcastle,4,0,H,Newcastle
1930,44848,83,Chelsea,83,44848,E0,2011,2012-04-29,Chelsea,QPR,6,1,H,Chelsea
1932,44849,92,Tottenham,92,44849,E0,2011,2012-04-29,Tottenham,Blackburn,2,0,H,Tottenham
1934,44850,85,Man City,85,44850,E0,2011,2012-04-30,Man City,Man United,1,0,H,Man City
1936,44851,84,Liverpool,84,44851,E0,2011,2012-05-01,Liverpool,Fulham,0,1,A,Liverpool
1938,44852,93,Everton,93,44852,E0,2011,2012-05-01,Stoke,Everton,1,1,D,Everton
1940,44853,92,Tottenham,92,44853,E0,2011,2012-05-02,Bolton,Tottenham,1,4,A,Tottenham
1942,44854,83,Chelsea,83,44854,E0,2011,2012-05-02,Chelsea,Newcastle,0,2,A,Chelsea
1944,44855,81,Arsenal,81,44855,E0,2011,2012-05-05,Arsenal,Norwich,3,3,D,Arsenal
1946,44856,82,Aston Villa,82,44856,E0,2011,2012-05-06,Aston Villa,Tottenham,1,1,D,Aston Villa
1948,44857,106,Bolton,106,44857,E0,2011,2012-05-06,Bolton,West Brom,2,2,D,Bolton
1950,44858,109,Sunderland,109,44858,E0,2011,2012-05-06,Fulham,Sunderland,2,1,H,Sunderland
1952,44859,99,Man United,99,44859,E0,2011,2012-05-06,Man United,Swansea,2,0,H,Man United
1954,44860,85,Man City,85,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A,Man City
1956,44861,100,QPR,100,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H,QPR
1958,44862,93,Everton,93,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D,Everton
1960,44863,97,Blackburn,97,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A,Blackburn
1962,44864,83,Chelsea,83,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H,Chelsea
1964,44865,83,Chelsea,83,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H,Chelsea
1966,44866,86,Newcastle,86,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H,Newcastle
1968,44867,85,Man City,85,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H,Man City
1970,44868,82,Aston Villa,82,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H,Aston Villa
1972,44869,106,Bolton,106,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D,Bolton
1974,44870,99,Man United,99,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Man United
1976,44871,84,Liverpool,84,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Liverpool
1978,44872,92,Tottenham,92,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Tottenham
1980,44873,81,Arsenal,81,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,Arsenal
1982,44874,119,Wolves,119,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wolves

In [82]:
FVAChronoUM['Winner'] = 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [83]:
FVAChronoUM['Winner'] = FVAChronoUM.where((FVAChronoUM['FTR'] == 'A') | (FVAChronoUM['FTR'] == 'D'), 
                                          FVAChronoUM['HomeTeam'], axis = 0)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [84]:
FVAChronoUM['Winner'] = FVAChronoUM['Winner'].where((FVAChronoUM['FTR'] == 'D') | (FVAChronoUM['FTR'] == 'H'), 
                                                    FVAChronoUM['AwayTeam'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
FVAChronoUM['Winner'] = FVAChronoUM['Winner'].where((FVAChronoUM['FTR'] == 'A') | (FVAChronoUM['FTR'] == 'H'), 
                                                    'Draw')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [93]:
FVAChronoUM.head(20)
# Winsdf = pd.DataFrame(FVAChronoUM['Winner'].value_counts())
# Winsdf

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team,Winner,Loser
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,1
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,1
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,1
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich,Mainz,1
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich,Draw,1
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich,M'gladbach,1
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich,Draw,1
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,1
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich,Bayern Munich,1
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich,Hannover,1
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich,Draw,1
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich,Leverkusen,1
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich,Bayern Munich,1
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich,Bayern Munich,1
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,1
30,1107,1,Bayern Munich,1,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich,Bayern Munich,1
32,1108,1,Bayern Munich,1,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Bayern Munich,Dortmund,1
34,1109,2,Dortmund,2,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,Dortmund,Draw,1
36,1110,2,Dortmund,2,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund,Dortmund,1
38,1111,2,Dortmund,2,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund,Dortmund,1

In [102]:
FVAChronoUM['Loser'] = 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [104]:
FVAChronoUM['Loser'] = FVAChronoUM.where((FVAChronoUM['FTR'] == 'A') | (FVAChronoUM['FTR'] == 'D'), 
                                          FVAChronoUM['AwayTeam'], axis = 0)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [106]:
FVAChronoUM['Loser'] = FVAChronoUM['Loser'].where((FVAChronoUM['FTR'] == 'D') | (FVAChronoUM['FTR'] == 'H'), 
                                                    FVAChronoUM['HomeTeam'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
FVAChronoUM['Loser'] = FVAChronoUM['Loser'].where((FVAChronoUM['FTR'] == 'A') | (FVAChronoUM['FTR'] == 'H'), 
                                                    'Draw')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [107]:
FVAChronoUM

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team,Winner,Loser
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,Nurnberg
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Stuttgart
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,Wolfsburg
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich,Mainz,Mainz
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich,Draw,Draw
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich,M'gladbach,M'gladbach
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich,Draw,Draw
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Werder Bremen
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich,Bayern Munich,Schalke 04
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich,Hannover,Hannover
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich,Draw,Draw
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich,Leverkusen,Leverkusen
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich,Bayern Munich,Kaiserslautern
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich,Bayern Munich,Hertha
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Augsburg
30,1107,1,Bayern Munich,1,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich,Bayern Munich,FC Koln
32,1108,1,Bayern Munich,1,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Bayern Munich,Dortmund,Dortmund
34,1109,2,Dortmund,2,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,Dortmund,Draw,Draw
36,1110,2,Dortmund,2,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund,Dortmund,Freiburg
38,1111,2,Dortmund,2,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund,Dortmund,Hertha
40,1112,2,Dortmund,2,1112,D1,2011,2012-02-03,Nurnberg,Dortmund,0,2,A,Dortmund,Dortmund,Nurnberg
42,1113,2,Dortmund,2,1113,D1,2011,2011-08-13,Hoffenheim,Dortmund,1,0,H,Dortmund,Hoffenheim,Hoffenheim
44,1114,2,Dortmund,2,1114,D1,2011,2011-10-29,Stuttgart,Dortmund,1,1,D,Dortmund,Draw,Draw
46,1115,2,Dortmund,2,1115,D1,2011,2012-01-22,Hamburg,Dortmund,1,5,A,Dortmund,Dortmund,Hamburg
48,1116,2,Dortmund,2,1116,D1,2011,2011-12-03,M'gladbach,Dortmund,1,1,D,Dortmund,Draw,Draw
50,1117,2,Dortmund,2,1117,D1,2011,2012-04-14,Schalke 04,Dortmund,1,2,A,Dortmund,Dortmund,Schalke 04
52,1118,2,Dortmund,2,1118,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H,Dortmund,Hannover,Hannover
54,1119,2,Dortmund,2,1119,D1,2011,2012-03-25,FC Koln,Dortmund,1,6,A,Dortmund,Dortmund,FC Koln
56,1120,2,Dortmund,2,1120,D1,2011,2012-03-10,Augsburg,Dortmund,0,0,D,Dortmund,Draw,Draw
58,1121,2,Dortmund,2,1121,D1,2011,2012-04-07,Wolfsburg,Dortmund,1,3,A,Dortmund,Dortmund,Wolfsburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,44845,119,Wolves,119,44845,E0,2011,2012-04-28,Swansea,Wolves,4,4,D,Wolves,Draw,Draw
1926,44846,82,Aston Villa,82,44846,E0,2011,2012-04-28,West Brom,Aston Villa,0,0,D,Aston Villa,Draw,Draw
1928,44847,86,Newcastle,86,44847,E0,2011,2012-04-28,Wigan,Newcastle,4,0,H,Newcastle,Wigan,Wigan
1930,44848,83,Chelsea,83,44848,E0,2011,2012-04-29,Chelsea,QPR,6,1,H,Chelsea,Chelsea,Chelsea
1932,44849,92,Tottenham,92,44849,E0,2011,2012-04-29,Tottenham,Blackburn,2,0,H,Tottenham,Tottenham,Tottenham
1934,44850,85,Man City,85,44850,E0,2011,2012-04-30,Man City,Man United,1,0,H,Man City,Man City,Man City
1936,44851,84,Liverpool,84,44851,E0,2011,2012-05-01,Liverpool,Fulham,0,1,A,Liverpool,Fulham,Liverpool
1938,44852,93,Everton,93,44852,E0,2011,2012-05-01,Stoke,Everton,1,1,D,Everton,Draw,Draw
1940,44853,92,Tottenham,92,44853,E0,2011,2012-05-02,Bolton,Tottenham,1,4,A,Tottenham,Tottenham,Bolton
1942,44854,83,Chelsea,83,44854,E0,2011,2012-05-02,Chelsea,Newcastle,0,2,A,Chelsea,Newcastle,Chelsea
1944,44855,81,Arsenal,81,44855,E0,2011,2012-05-05,Arsenal,Norwich,3,3,D,Arsenal,Draw,Draw
1946,44856,82,Aston Villa,82,44856,E0,2011,2012-05-06,Aston Villa,Tottenham,1,1,D,Aston Villa,Draw,Draw
1948,44857,106,Bolton,106,44857,E0,2011,2012-05-06,Bolton,West Brom,2,2,D,Bolton,Draw,Draw
1950,44858,109,Sunderland,109,44858,E0,2011,2012-05-06,Fulham,Sunderland,2,1,H,Sunderland,Fulham,Fulham
1952,44859,99,Man United,99,44859,E0,2011,2012-05-06,Man United,Swansea,2,0,H,Man United,Man United,Man United
1954,44860,85,Man City,85,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A,Man City,Man City,Newcastle
1956,44861,100,QPR,100,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H,QPR,QPR,QPR
1958,44862,93,Everton,93,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D,Everton,Draw,Draw
1960,44863,97,Blackburn,97,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A,Blackburn,Wigan,Blackburn
1962,44864,83,Chelsea,83,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H,Chelsea,Liverpool,Liverpool
1964,44865,83,Chelsea,83,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H,Chelsea,Chelsea,Chelsea
1966,44866,86,Newcastle,86,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H,Newcastle,Everton,Everton
1968,44867,85,Man City,85,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H,Man City,Man City,Man City
1970,44868,82,Aston Villa,82,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H,Aston Villa,Norwich,Norwich
1972,44869,106,Bolton,106,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D,Bolton,Draw,Draw
1974,44870,99,Man United,99,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Man United,Man United,Sunderland
1976,44871,84,Liverpool,84,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Liverpool,Swansea,Swansea
1978,44872,92,Tottenham,92,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Tottenham,Tottenham,Tottenham
1980,44873,81,Arsenal,81,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,Arsenal,Arsenal,West Brom
1982,44874,119,Wolves,119,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wolves,Wigan,Wigan

In [122]:
# FVAChronoUM['Winner'] = FVAChronoUM['Winner'].where(FVAChronoUM['FTR'] == 'A', FVAChronoUM['HomeTeam'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [131]:
# FVAChronoUM['Winner'] = FVAChronoUM['Winner'].where(((FVAChronoUM['FTR'] != 'A') & (FVAChronoUM['FTR'] != 'D')), FVAChronoUM['HomeTeam'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [101]:
# FVAChronoUM['Winner']

In [108]:
FVAChronoUM

,Match_ID,Unique_Team_ID,TeamName,Unique_Team_ID:1,Match_ID:1,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unique_Team,Winner,Loser
0,1092,1,Bayern Munich,1,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,Nurnberg
2,1093,1,Bayern Munich,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Stuttgart
4,1094,1,Bayern Munich,1,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich,Bayern Munich,Wolfsburg
6,1095,1,Bayern Munich,1,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Bayern Munich,Mainz,Mainz
8,1096,1,Bayern Munich,1,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Bayern Munich,Draw,Draw
10,1097,1,Bayern Munich,1,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,Bayern Munich,M'gladbach,M'gladbach
12,1098,1,Bayern Munich,1,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,Bayern Munich,Draw,Draw
14,1099,1,Bayern Munich,1,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Werder Bremen
16,1100,1,Bayern Munich,1,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich,Bayern Munich,Schalke 04
18,1101,1,Bayern Munich,1,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Bayern Munich,Hannover,Hannover
20,1102,1,Bayern Munich,1,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,Bayern Munich,Draw,Draw
22,1103,1,Bayern Munich,1,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Bayern Munich,Leverkusen,Leverkusen
24,1104,1,Bayern Munich,1,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich,Bayern Munich,Kaiserslautern
26,1105,1,Bayern Munich,1,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich,Bayern Munich,Hertha
28,1106,1,Bayern Munich,1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich,Bayern Munich,Augsburg
30,1107,1,Bayern Munich,1,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich,Bayern Munich,FC Koln
32,1108,1,Bayern Munich,1,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Bayern Munich,Dortmund,Dortmund
34,1109,2,Dortmund,2,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,Dortmund,Draw,Draw
36,1110,2,Dortmund,2,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund,Dortmund,Freiburg
38,1111,2,Dortmund,2,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund,Dortmund,Hertha
40,1112,2,Dortmund,2,1112,D1,2011,2012-02-03,Nurnberg,Dortmund,0,2,A,Dortmund,Dortmund,Nurnberg
42,1113,2,Dortmund,2,1113,D1,2011,2011-08-13,Hoffenheim,Dortmund,1,0,H,Dortmund,Hoffenheim,Hoffenheim
44,1114,2,Dortmund,2,1114,D1,2011,2011-10-29,Stuttgart,Dortmund,1,1,D,Dortmund,Draw,Draw
46,1115,2,Dortmund,2,1115,D1,2011,2012-01-22,Hamburg,Dortmund,1,5,A,Dortmund,Dortmund,Hamburg
48,1116,2,Dortmund,2,1116,D1,2011,2011-12-03,M'gladbach,Dortmund,1,1,D,Dortmund,Draw,Draw
50,1117,2,Dortmund,2,1117,D1,2011,2012-04-14,Schalke 04,Dortmund,1,2,A,Dortmund,Dortmund,Schalke 04
52,1118,2,Dortmund,2,1118,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H,Dortmund,Hannover,Hannover
54,1119,2,Dortmund,2,1119,D1,2011,2012-03-25,FC Koln,Dortmund,1,6,A,Dortmund,Dortmund,FC Koln
56,1120,2,Dortmund,2,1120,D1,2011,2012-03-10,Augsburg,Dortmund,0,0,D,Dortmund,Draw,Draw
58,1121,2,Dortmund,2,1121,D1,2011,2012-04-07,Wolfsburg,Dortmund,1,3,A,Dortmund,Dortmund,Wolfsburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,44845,119,Wolves,119,44845,E0,2011,2012-04-28,Swansea,Wolves,4,4,D,Wolves,Draw,Draw
1926,44846,82,Aston Villa,82,44846,E0,2011,2012-04-28,West Brom,Aston Villa,0,0,D,Aston Villa,Draw,Draw
1928,44847,86,Newcastle,86,44847,E0,2011,2012-04-28,Wigan,Newcastle,4,0,H,Newcastle,Wigan,Wigan
1930,44848,83,Chelsea,83,44848,E0,2011,2012-04-29,Chelsea,QPR,6,1,H,Chelsea,Chelsea,Chelsea
1932,44849,92,Tottenham,92,44849,E0,2011,2012-04-29,Tottenham,Blackburn,2,0,H,Tottenham,Tottenham,Tottenham
1934,44850,85,Man City,85,44850,E0,2011,2012-04-30,Man City,Man United,1,0,H,Man City,Man City,Man City
1936,44851,84,Liverpool,84,44851,E0,2011,2012-05-01,Liverpool,Fulham,0,1,A,Liverpool,Fulham,Liverpool
1938,44852,93,Everton,93,44852,E0,2011,2012-05-01,Stoke,Everton,1,1,D,Everton,Draw,Draw
1940,44853,92,Tottenham,92,44853,E0,2011,2012-05-02,Bolton,Tottenham,1,4,A,Tottenham,Tottenham,Bolton
1942,44854,83,Chelsea,83,44854,E0,2011,2012-05-02,Chelsea,Newcastle,0,2,A,Chelsea,Newcastle,Chelsea
1944,44855,81,Arsenal,81,44855,E0,2011,2012-05-05,Arsenal,Norwich,3,3,D,Arsenal,Draw,Draw
1946,44856,82,Aston Villa,82,44856,E0,2011,2012-05-06,Aston Villa,Tottenham,1,1,D,Aston Villa,Draw,Draw
1948,44857,106,Bolton,106,44857,E0,2011,2012-05-06,Bolton,West Brom,2,2,D,Bolton,Draw,Draw
1950,44858,109,Sunderland,109,44858,E0,2011,2012-05-06,Fulham,Sunderland,2,1,H,Sunderland,Fulham,Fulham
1952,44859,99,Man United,99,44859,E0,2011,2012-05-06,Man United,Swansea,2,0,H,Man United,Man United,Man United
1954,44860,85,Man City,85,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A,Man City,Man City,Newcastle
1956,44861,100,QPR,100,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H,QPR,QPR,QPR
1958,44862,93,Everton,93,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D,Everton,Draw,Draw
1960,44863,97,Blackburn,97,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A,Blackburn,Wigan,Blackburn
1962,44864,83,Chelsea,83,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H,Chelsea,Liverpool,Liverpool
1964,44865,83,Chelsea,83,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H,Chelsea,Chelsea,Chelsea
1966,44866,86,Newcastle,86,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H,Newcastle,Everton,Everton
1968,44867,85,Man City,85,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H,Man City,Man City,Man City
1970,44868,82,Aston Villa,82,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H,Aston Villa,Norwich,Norwich
1972,44869,106,Bolton,106,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D,Bolton,Draw,Draw
1974,44870,99,Man United,99,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Man United,Man United,Sunderland
1976,44871,84,Liverpool,84,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Liverpool,Swansea,Swansea
1978,44872,92,Tottenham,92,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Tottenham,Tottenham,Tottenham
1980,44873,81,Arsenal,81,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,Arsenal,Arsenal,West Brom
1982,44874,119,Wolves,119,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wolves,Wigan,Wigan

# Summary

In this lab, we dug deep and used everything we've learned so far about python programming, databases, HTTP requests and API calls to ETL data from a SQL database into a MongoDB instance!